<!DOCTYPE html>

<html>
    <head>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <title>PunkRockPolly's Blog</title>
    </head>

    <body>

        <h1>Punkrockpolly's Blog</h1>

		<div class="post">
 		<div class="post-heading">
    		<div class="post-title">
      			{{display_post.subject}}
    		</div>

    		<div class="post-date">
      			{{display_post.created.strftime("%b %d, %Y")}}
    		</div>
  		</div>

  		<div class="post-content">
    		{{display_post.content | safe}}
    	</div>
    </div>
    </body>
</html>